---
import { getCollection } from 'astro:content'

import { Drawer, Nav, Window } from '~/components/index.astro'

const work = await getCollection('work', ({ data }) => {
  return data.draft !== true
})

// work.sort((a, b) => a.data.sortOrder - b.data.sortOrder)
---

<Nav id="work-nav" name="Work menu" class="not-prose">
  {
    work.map(({ slug, data: { name } }) => (
      <>
        <Drawer name={name} url={`/work/${slug}`} />
      </>
    ))
  }
</Nav>
