/* https://tailwindcss.com/docs/theme#default-theme-variable-reference */
@theme {
  --font-sans: var(--topaz);
  --font-mono: var(--topaz);

  --color-background: var(--color-white);
  --color-foreground: var(--color-black);

  --color-primary: rgb(96, 128, 176);
  --color-primary-foreground: var(--color-foreground);

  --color-secondary: rgb(160, 160, 160);
  --color-secondary-foreground: var(--color-foreground);

  --spacing-titlebar: calc(var(--spacing) * 5.5);

  --cursor-amiga: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMiAwaDJ2MkgyVjB6bTIgMmg0djJINFYyem00IDJoNHYySDhWNHptNCAyaDR2MmgtNFY2em00IDJoNHYyaC00Vjh6bS0yIDRoMnYyaC0ydi0yem0yIDJoMnYyaC0ydi0yem0yIDJoMnYyaC0ydi0yem0yIDJoMnYyaC0ydi0yeiIgZmlsbD0iI0VCRjNENiIvPjxwYXRoIGQ9Ik04IDE2aDJ2NEg3di00SDZ2LTRoMnY0ek0wIDJoMnYySDBWMnptMiAyaDJ2NEgyVjR6bTIgNGgydjRINFY4em04IDZoMnYyaC0ydi0yem0yIDJoMnYyaC0ydi0yem0yIDJoMnYyaC0ydi0yem0yIDJoMnYyaC0ydi0yeiIgZmlsbD0iIzAwMCIvPjxwYXRoIGQ9Ik0xNiAxMmgtMnYyaC0ydjZoLTJ2LTRIOHYtNEg2VjhINFY0aDR2Mmg0djJoNHYyaDR2MmgtNHpNMCAwaDJ2MkgwVjB6bTIgMmgydjJIMlYyem0xMiAxMmgydjJoLTJ2LTJ6bTIgMmgydjJoLTJ2LTJ6bTIgMmgydjJoLTJ2LTJ6bTIgMmgydjJoLTJ2LTJ6IiBmaWxsPSIjRTc1RDU1Ii8+PC9nPjwvc3ZnPgo=),
      default;
}

[data-theme='kickstart'] {
  --color-background: oklch(0.286 0.1053 327.9);
  --color-foreground: oklch(0.7585 0.0874 47.9);
  --color-primary: oklch(0.286 0.1053 327.9);
  --color-primary-foreground: oklch(0.7585 0.0874 47.9);
  --color-secondary: oklch(0.286 0.1053 327.9);
  --color-secondary-foreground: oklch(0.7585 0.0874 47.9);
}