@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Topaz';
    src: local('Topaz'), url('/fonts/topaz.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  body {
    @apply font-sans text-optimize text-xl;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    cursor: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMiAwaDJ2MkgyVjB6bTIgMmg0djJINFYyem00IDJoNHYySDhWNHptNCAyaDR2MmgtNFY2em00IDJoNHYyaC00Vjh6bS0yIDRoMnYyaC0ydi0yem0yIDJoMnYyaC0ydi0yem0yIDJoMnYyaC0ydi0yem0yIDJoMnYyaC0ydi0yeiIgZmlsbD0iI0VCRjNENiIvPjxwYXRoIGQ9Ik04IDE2aDJ2NEg3di00SDZ2LTRoMnY0ek0wIDJoMnYySDBWMnptMiAyaDJ2NEgyVjR6bTIgNGgydjRINFY4em04IDZoMnYyaC0ydi0yem0yIDJoMnYyaC0ydi0yem0yIDJoMnYyaC0ydi0yem0yIDJoMnYyaC0ydi0yeiIgZmlsbD0iIzAwMCIvPjxwYXRoIGQ9Ik0xNiAxMmgtMnYyaC0ydjZoLTJ2LTRIOHYtNEg2VjhINFY0aDR2Mmg0djJoNHYyaDR2MmgtNHpNMCAwaDJ2MkgwVjB6bTIgMmgydjJIMlYyem0xMiAxMmgydjJoLTJ2LTJ6bTIgMmgydjJoLTJ2LTJ6bTIgMmgydjJoLTJ2LTJ6bTIgMmgydjJoLTJ2LTJ6IiBmaWxsPSIjRTc1RDU1Ii8+PC9nPjwvc3ZnPgo=),
      default;

    @screen md {
      @apply text-base;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-normal;
  }

  pre {
    @apply font-sans;
  }
}
