@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-animate';
@config '../../tailwind.config.js';

@theme {
  --font-sans: 'Topaz', sans-serif;
  --font-mono: 'Topaz', monospace;

  --color-background: oklch(0.7058 0 0);
  --color-foreground: oklch(0 0 0);

  --color-muted: oklch(0.961 0 0);
  --color-muted-foreground: oklch(0.469 0 0);

  --color-popover: oklch(1 0 0);
  --color-popover-foreground: 222.2 47.4% 11.2%;

  --color-card: 0 0% 100%;
  --color-card-foreground: 222.2 47.4% 11.2%;

  --color-border: 214.3 31.8% 91.4%;
  --color-input: 214.3 31.8% 91.4%;

  --color-primary: 222.2 47.4% 11.2%;
  --color-primary-foreground: 210 40% 98%;

  --color-accent: 210 40% 96.1%;
  --color-accent-foreground: 222.2 47.4% 11.2%;

  --color-destructive: 0 100% 50%;
  /* --destructive: 357.7 85.3% 52%; */

  --color-destructive-foreground: 210 40% 98%;

  --color-ring: 215 20.2% 65.1%;

  --radius: 0;

  --height-title-bar: 1.375rem;
  --spacing-title-bar:1.375rem;
}

@layer theme {  
  [data-theme='kickstart'] {
    --color-background: oklch(0.286 0.1053 327.9);
    --color-foreground: oklch(0.7585 0.0874 47.9);
    --color-primary: oklch(0.286 0.1053 327.9);
    --color-primary-foreground: oklch(0.7585 0.0874 47.9);
    --color-secondary: oklch(0.286 0.1053 327.9);
    --color-secondary-foreground: oklch(0.7585 0.0874 47.9);
  }

  [data-theme='funk'] {
    --color-background: 180 45.8% 46.3%;
  }

  [data-theme='dark'] {
    --color-background: 224 71% 4%;
    --color-foreground: 213 31% 91%;

    --color-muted: 223 47% 11%;
    --color-muted-foreground: 215.4 16.3% 56.9%;

    --color-popover: 224 71% 4%;
    --color-popover-foreground: 215 20.2% 65.1%;

    --color-card: 224 71% 4%;
    --color-card-foreground: 213 31% 91%;

    --color-border: 216 34% 17%;
    --color-input: 216 34% 17%;

    --color-primary: 210 40% 98%;
    --color-primary-foreground: 222.2 47.4% 1.2%;

    --color-secondary: 222.2 47.4% 11.2%;
    --color-secondary-foreground: 210 40% 98%;

    --color-accent: 216 34% 17%;
    --color-accent-foreground: 210 40% 98%;

    --color-destructive: 0 63% 31%;
    --color-destructive-foreground: 210 40% 98%;

    --color-ring: 216 34% 17%;

    --color-radius: 0.5rem;
  }
}

@layer base {
  [x-cloak] {
    @apply !hidden;
  }

  @font-face {
    font-family: 'Topaz';
    src:
      local('Topaz'),
      url('/fonts/topaz.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    cursor:
      url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMiAwaDJ2MkgyVjB6bTIgMmg0djJINFYyem00IDJoNHYySDhWNHptNCAyaDR2MmgtNFY2em00IDJoNHYyaC00Vjh6bS0yIDRoMnYyaC0ydi0yem0yIDJoMnYyaC0ydi0yem0yIDJoMnYyaC0ydi0yem0yIDJoMnYyaC0ydi0yeiIgZmlsbD0iI0VCRjNENiIvPjxwYXRoIGQ9Ik04IDE2aDJ2NEg3di00SDZ2LTRoMnY0ek0wIDJoMnYySDBWMnptMiAyaDJ2NEgyVjR6bTIgNGgydjRINFY4em04IDZoMnYyaC0ydi0yem0yIDJoMnYyaC0ydi0yem0yIDJoMnYyaC0ydi0yem0yIDJoMnYyaC0ydi0yeiIgZmlsbD0iIzAwMCIvPjxwYXRoIGQ9Ik0xNiAxMmgtMnYyaC0ydjZoLTJ2LTRIOHYtNEg2VjhINFY0aDR2Mmg0djJoNHYyaDR2MmgtNHpNMCAwaDJ2MkgwVjB6bTIgMmgydjJIMlYyem0xMiAxMmgydjJoLTJ2LTJ6bTIgMmgydjJoLTJ2LTJ6bTIgMmgydjJoLTJ2LTJ6bTIgMmgydjJoLTJ2LTJ6IiBmaWxsPSIjRTc1RDU1Ii8+PC9nPjwvc3ZnPgo=),
      default;
  }
}

.prose {
  --tw-prose-body: currentColor;
}
