---
import { CollectionEntry, getCollection } from 'astro:content'

import getUniqueTags from '~/utils/getUniqueTags'
import getWorkByTag from '~/utils/getWorkByTag'
import Window from '~/components/Window.astro'
import Nav from '~/components/Nav.astro'
import Link from '~/components/Link.astro'
import Workbench from '~layouts/Workbench.astro'

export interface Props {
  post: CollectionEntry<'work'>
  tag: string
}

export async function getStaticPaths() {
  const work = await getCollection('work')
  const tags = getUniqueTags(work)
  return tags.map(tag => {
    return {
      params: { tag },
      props: { tag }
    }
  })
}

const { tag } = Astro.props
const work = await getCollection('work', ({ data }) => !data.draft)
const tagWork = getWorkByTag(work, tag)
---

<Workbench>
  <Window id="tag-window" name={tag} class="h-screen" url="/tags">
    <Nav id="tag-nav" name={tag}>
      {
        tagWork.map(({ slug, data: { name } }) => (
          <Link icon="drawer" href={`/work/${slug}`}>
            {name}
          </Link>
        ))
      }
    </Nav>
  </Window>
</Workbench>
