---
import Default from '~/layouts/Default.astro'
import { Button, Drive } from '~/components/index.astro'
// import Window from '~components/Window.astro'
---

<Default
  class="min-h-screen w-full flex flex-col border-8 bg-gray"
  title="Bar"
  description="Bar description"
>
  <div class="grid m-5 gap-5">
    <Drive href="/">Home</Drive>
    <Drive />
    <form>
      <fieldset>
        <Button type="submit" tag="button">Send</Button>
      </fieldset>
    </form>
  </div>
</Default>
