---
import Default from '~/layouts/Default.astro'
import { Alert } from '~/components/index.astro'
import Window from '~components/Window.astro'
---

<Default
  class="flex min-h-screen w-full flex-col"
  title="Bar"
  description="Bar description"
>
  <main class="flex-auto">
    <Window
      class="min-h-screen"
      name="sdklskdl skds d kslksdls lsl skldks sldk sdlskjds ks dklskdl sdlskdsldks sldklsdk"
      id="bar"
    >
      <div class="grid gap-5">
        <Alert animate>Yes animate</Alert>
        <Alert>No animate</Alert>
      </div>
    </Window>
  </main>
</Default>
