---
import Default from '~/layouts/Default.astro'
import { Button, Drive, TitleBar, Nav, Close } from '~/components/index.astro'
import Link from '~/components/Link.astro'
// import Window from '~components/Window.astro'
---

<Default
  class="min-h-screen w-full flex flex-col dark"
  title="Components"
  description="Components description"
>
  <div class="grid gap-5 bg-background text-text">
    <TitleBar class="bg-primary text-text">Titlebar</TitleBar>
    <Close url="/404">Close this</Close>
    <Close />
    <Nav id="horizontal" name="Horizontal" vertical="false" class="bg-red">
      <Link href="/work">Work</Link>
      <Drive href="/">Home</Drive>
      <Drive />
    </Nav>
    <Nav id="vertical" name="Vertical" class="bg-red">
      <Link href="/work">Work</Link>
      <Drive href="/">Home</Drive>
      <Drive />
    </Nav>
    <form>
      <fieldset>
        <Button type="submit" tag="button">Send</Button>
      </fieldset>
    </form>
  </div>
</Default>
