---
import Default from '@layouts/Default.astro'
import Checkbox from '@components/Checkbox.astro'
---

<Default>
  <div class="max-w-xl px-6">
    <form>
      <label class="flex">
        <Checkbox class="mr-2" />
        Culpa qui Lorem ex sit sit sunt veniam ad est voluptate do ipsum.
      </label>
    </form>
  </div>
</Default>
