---
import Default from '@layouts/Default.astro'
import { Label } from '@components/ui/label'
import Checkbox from '@components/Checkbox.astro'
---

<Default name="Form" title="Form">
  <div class="max-w-xl px-6">
    <form>
      <div>
      <Label className="flex">
        <Checkbox class="mr-2" />Culpa qui Lorem ex sit sit sunt veniam ad est voluptate do ipsum.
      </Label>
      </div>
      
    </form>
  </div>
</Default>
