---
import Default from '@/layouts/Default.astro'
import Checkbox from '@/components/Checkbox.astro'
import Button from '@/components/Button.astro'
import Icon from '@/components/Icon.astro'
import ThemeToggle from '@/components/theme-toggle.astro'
import Alert from '@/components/Alert.astro'
---

<Default name="Form" title="Form">
  <Alert class="mx-auto max-w-lg text-center" animate>
    <p>Software Failure. Press left mouse button to continue.</p>
  </Alert>

  <div class="max-w-xl p-20">
    <Button href="/">Launch</Button>
    <form>
      <div class="w-full max-w-4xl px-6">
        <Icon name="drive" />
        <Icon name="disk" />
        <Icon name="drawer" />
        <Icon name="drawer" active="drawer" />
        <Icon name="file" />
        <ThemeToggle />
      </div>
      <div>
        <Checkbox class="mr-2" />Culpa qui Lorem ex sit sit sunt veniam ad est
        voluptate do ipsum.
      </div>
    </form>
  </div>
</Default>
