---
import { SEO } from 'astro-seo'
import { getEntryBySlug } from 'astro:content'
import Icon from 'astro-icon'

import Default from '~/layouts/Default.astro'
import { Prose } from '~/components/index.astro'

const kickstart = await getEntryBySlug('page', 'kickstart')
const { Content } = await kickstart.render()

const { slug: url, data } = kickstart
const { name, description } = data
---

<Default
  title={name}
  {name}
  description={description}
  url={`/${url}`}
  theme="kickstart"
>
  <SEO
    slot="head"
    extend={{ meta: [{ name: 'theme-color', content: 'rgb(68, 16, 68)' }] }}
  />
  <div class="page">
    <div class="w-44 flex flex-col gap-6">
      <Prose>
        <Content />
      </Prose>
    </div>

    <a class="relative block h-10.5625rem w-9.75rem" href="/">
      <span class="sr-only">Return to Workbench</span>
      <Icon name="floppy-drive" />
      <Icon
        name="floppy-disk"
        class="absolute bottom-0 left-12px animate-disk"
      />
    </a>
  </div>
</Default>

<style lang="postcss">
.page {
  @apply flex flex-col p-6 justify-center items-center gap-6 min-h-screen  md:(flex-row items-end justify-between gap-12 p-12);
}
</style>
