---
import { getEntryBySlug } from 'astro:content'
import Icon from 'astro-icon'

import Default from '@/layouts/Default.astro'

const kickstart = await getEntryBySlug('page', 'kickstart')
const { Content } = await kickstart.render()

const { slug, data } = kickstart
const { name, description } = data
---

<Default title={name} description={description} url={slug}>
  <div class="page">
    <div class="flex flex-col gap-6 w-44">
      <div class="prose prose-tan">
        <Content />
      </div>
    </div>
    <a class="relative block w-[9.75rem] h-[10.5625rem]" href="/">
      <span class="sr-only">Return to Workbench</span>
      <Icon name="floppy-drive" />
      <Icon
        name="floppy-disk"
        class="absolute bottom-[-25px] left-[12px] animate-disk w-[134px] h-[120px]"
      />
    </a>
  </div>
</Default>

<style lang="postcss">
  .page {
    @apply flex flex-col p-6 justify-center items-center gap-6 min-h-screen bg-purple text-tan;

    @screen md {
      @apply p-12 flex-row items-end justify-between gap-12;
    }
  }
</style>
