---
import { getEntryBySlug } from 'astro:content'
import Icon from 'astro-icon'

import Default from '~/layouts/Default.astro'
import { Prose } from '~/components/index.astro'

const kickstart = await getEntryBySlug('page', 'kickstart')
const { Content } = await kickstart.render()

const { slug: url, data } = kickstart
const { name, description } = data
---

<Default title={name} description={description} url={`/${url}`}>
  <div class="page">
    <div class="flex w-44 flex-col gap-6">
      <Prose class="text-tan dark:prose-invert">
        <Content />
      </Prose>
    </div>
    <a class="relative block h-[10.5625rem] w-[9.75rem]" href="/">
      <span class="sr-only">Return to Workbench</span>
      <Icon name="floppy-drive" />
      <Icon
        name="floppy-disk"
        class="absolute bottom-[-25px] left-[12px] h-[120px] w-[134px] animate-disk"
      />
    </a>
  </div>
</Default>

<style lang="postcss" scoped>
  .page {
    @apply flex flex-col p-6 justify-center items-center gap-6 min-h-screen bg-purple text-tan;

    @screen md {
      @apply p-12 flex-row items-end justify-between gap-12;
    }
  }
</style>
