---
import Workbench from '@layouts/Workbench.astro'
import { SchemaWebPage, Window } from '@components/index.astro'
import { frontmatter, Content, url } from '@content/pages/ram-disk.md'

const { name } = frontmatter
const meta = { title: name, name, url }
---

<Workbench {...meta}>
  <SchemaWebPage slot="head" {...meta} />
  <Window id="ram-disk" name={name} url="/">
    <div class="prose prose-black">
      <Content />
    </div>
  </Window>
</Workbench>
