---
import Workbench from '@layouts/Workbench.astro'
import Window from '@components/Window.astro'
import { frontmatter, Content, url } from '@content/pages/ram-disk.md'

const { name, description } = frontmatter
const meta = { title: name, description, name, url }
---

<Workbench {...meta}>
  <Window id="ram-disk" {name} url="/">
    <div class="prose prose-black">
      <Content />
    </div>
  </Window>
</Workbench>
