---
import Default from '~/layouts/Default.astro'
import { Alert, AlertDescription, AlertTitle } from '~/components/ui/alert'
import { AlertDialogDemo } from '~/components/AlertDialogDemo'
import { ContextMenuDemo } from '~/components/ContextMenuDemo'
import ThemeToggle from '~/components/ui/theme-toggle.astro'
import TitleBar from '~/components/TitleBar.astro'
import Icon from '~/components/Icon.astro'
---

<Default>
  <TitleBar class="bg-foreground text-background">Shadcn ui</TitleBar>
  <ContextMenuDemo client:load />

  <div class="w-full max-w-4xl px-6">
    <Icon name="drive" />
    <Icon name="disk" />
    <Icon name="drawer" />
    <Icon name="drawer" active="drawer" />
    <Icon name="file" />
    <ThemeToggle />
    <AlertDialogDemo client:load />
    <Alert className="text-destructive text-center">
      <AlertTitle>Heads up!</AlertTitle>
      <AlertDescription>
        You can add components to your app using the cli.
      </AlertDescription>
    </Alert>
  </div>
</Default>
