---
import { Window } from '~components/index.astro'
import Default from '~layouts/Default.astro'
---

<Default>
  <article>
    <div class="mx-auto max-w-screen w-full px-8">
      <div class="grid min-h-screen gap-8 md:grid-cols-3 py-8">
        <Window name="Workbench">
          <p>Workbench</p>
        </Window>
        <Window name="Kickstart" class="kickstart">
          <p>Kickstart</p>
        </Window>
        <Window name="Guru" class="guru">
          <p>Guru meditation</p>
        </Window>
      </div>
    </div>
  </article>
</Default>
