---
import Default from '~layouts/Default.astro'
---

<Default>
  <article>
    <div class="mx-auto max-w-screen w-full px-8">
      <h1>Theme</h1>
      <div class="workbench">
        <div class="bg-background text-foreground p-5 border">
          Default
          <div bg="primary p-5">Window</div>
        </div>
      </div>
      <div class="kickstart">
        <div class="bg-background text-foreground p-5 border">
          Kickstart <div bg="primary p-5 border">Border?</div>
        </div>
      </div>
      <div class="guru">
        <div class="bg-background text-foreground p-5 border">
          Guru Meditation
        </div>
      </div>
    </div>
  </article>
</Default>
