---
export interface IAlert {
  class?: string
  animate?: boolean
}

const { class: className, animate = false, ...attrs } = Astro.props as IAlert
---

<div
  role="dialog"
  class:list={[
    'alert',
    className,
    animate && ['animate-pulse', 'animate-alternate']
  ]}
  {...attrs}
>
  <slot />
</div>

<style lang="postcss">
.alert {
  @apply border-4 border-current text-red p-8 text-center relative;

  & a {
    @apply hover:underline;

    &::before {
      @apply content-[""] block absolute inset-0 z-0;
    }
  }
}
</style>
