---
export interface IAlert {
  class?: string
  animate?: boolean
}

const { class: className, animate = false, ...props } = Astro.props as IAlert
---

<div
  role="dialog"
  data-component="alert"
  class:list={[
    'border-4 border-primary text-primary p-8 text-center relative',
    className,
    animate && ['animate-pulse', 'animate-alternate']
  ]}
  {...props}
>
  <slot />
</div>

<style lang="postcss">
[data-component="alert"] {
  & a {
    @apply hover:underline;

    &::before {
      @apply content-[""] block absolute inset-0 z-0;
    }
  }
}
</style>
