---
export interface AlertProps {
  class?: string
  animate?: boolean
}

const {
  class: className,
  animate = false,
  ...attrs
} = Astro.props as AlertProps
---

<div
  role="dialog"
  class:list={['alert', className, { animate: 'animate-pulse' }]}
  {...attrs}
>
  <slot />
</div>

<style lang="postcss" is:global>
.alert {
  @apply border-2 text-red p-4 text-center border-current animate-pulse relative;

  & a {
    @apply hover:underline;

    &::before {
      @apply content-[""] block absolute inset-0 z-0;
    }
  }
}
</style>
