---
import { type HTMLAttributes } from 'astro/types'
import { cva, type VariantProps } from 'class-variance-authority'

import { cn } from '@/lib/utils'

export const alertVariants = cva('border-4 p-8 relative', {
  variants: {
    intent: {
      destructive: 'border-destructive text-destructive'
    },
    animate: {
      true: 'animate-foo animate-alternate'
    }
  },
  defaultVariants: {
    intent: 'destructive',
    animate: false
  }
})

type Props = HTMLAttributes<'div'> &
  VariantProps<typeof alertVariants> & {
    animate?: boolean
  }

const { class: className, intent, animate = false, ...props } = Astro.props
---

<div
  role="dialog"
  data-component="alert"
  class:list={[cn(alertVariants({ intent, animate })), className]}
  {...props}
>
  <slot />
</div>

<style>
  [data-component='alert'] {
    & a {
      @apply hover:underline;

      &::before {
        @apply absolute inset-0 z-0 block content-[""];
      }
    }
  }
</style>
