---
import { type HTMLAttributes } from 'astro/types'

export type AlertProps = HTMLAttributes<'div'> & {
  animate?: boolean
}

const {
  class: className,
  animate = false,
  ...props
} = Astro.props as AlertProps
---

<div
  role="dialog"
  data-component="alert"
  class:list={[
    'border-4 border-foreground text-primary p-8 text-center relative',
    className,
    { 'animate-pulse animate-alternate': animate }
  ]}
  {...props}
>
  <slot />
</div>

<style>
  [data-component='alert'] {
    & a {
      @apply hover:underline;

      &::before {
        @apply content-[""] block absolute inset-0 z-0;
      }
    }
  }
</style>
