---
import type { HTMLAttributes } from 'astro/types'
import { Icon } from 'astro-icon/components'

type Props = HTMLAttributes<'a'> & {
  name: string
  url?: string
}

const {
  name = 'Close this window',
  url: href = '/',
  class: className,
  ...props
} = Astro.props
---

<a {href} class:list={[className]} {...props}>
  <span class="sr-only">
    {name}
  </span>
  <Icon name="close" />
</a>
