---
import type { HTMLAttributes } from 'astro/types'

export interface Props extends HTMLAttributes<'a'> {
  name: string
  url?: string
  class?: string
}

const { name = 'Close', url = '/', class: className, ...props } = Astro.props
---

<a
  href={url}
  class:list={['w-5 h-22px block bg-close active:bg-[-1.25rem]', className]}
  {...props}
>
  <span class="sr-only">
    {name}
  </span>
</a>
