---
import type { HTMLAttributes } from 'astro/types'

export type Props = HTMLAttributes<'a'> & {
  name: string
  url?: string
}

const {
  name = 'Close this window',
  url = '/',
  class: className,
  ...props
} = Astro.props
---

<a
  href={url}
  class:list={['w-5 h-22px block bg-close active:bg-[-1.25rem]', className]}
  {...props}
>
  <span class="sr-only">
    {name}
  </span>
</a>
