---
import { type HTMLAttributes } from 'astro/types'
import { Icon } from 'astro-icon/components'

type Props = HTMLAttributes<'button'>

const { class: className, ...props } = Astro.props
---

<button type="button" class:list={['', className]} {...props}>
  <span class="sr-only">Depth</span>
  <Icon name="depth" />
</button>
