---
import { type HTMLAttributes } from 'astro/types'

export type DepthProps = HTMLAttributes<'button'>

const { class: className, ...props } = Astro.props as DepthProps
---

<button
  type="button"
  class:list={['block h-22px w-23px bg-depth active:bg-23px', className]}
  {...props}
>
  <span class="sr-only">Toggle Depth</span></button
>
