---
export interface Props {
  name: string
  url: string
}

const { name, url } = Astro.props as Props
---

<a href={url} class="drawer">{name}</a>

<style lang="postcss" is:global>
  .drawer {
    @apply inline-flex flex-col items-center gap-1 max-w-[5rem] text-center outline-none focus:bg-blue;

    &::before {
      @apply block w-[4.0625rem] h-[2.375rem] content-[""] bg-cover bg-red;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='130' height='38' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23AAA' d='M0 0h65v38H0z'/%3E%3Cpath d='M0 2h1v36H0V2zm0-2h65v2H0V0zm6 6h51v22H6V6z' fill='%23FFF' fill-rule='nonzero'/%3E%3Cpath d='M27 14h3v4h-3v-4zm3 0h6v2h-6v-2zm1 2h1v2h-1v-2zm2 0h1v2h-1v-2zm2 0h1v2h-1v-2zm3-2h1v6h-1v-6zm-14 0h1v6h-1v-6zm1 6h13v2H25v-2zm-14 4h44v2H11v-2zm43-12h1v12h-1V12zM8 8h47v2H8V8zm0 2h2v2H8v-2zm0 2h1v14H8V12zm49-4h1v22h-1V8z' fill='%23000' fill-rule='nonzero'/%3E%3Cpath fill='%23000' d='M8 28h50v2H8z'/%3E%3Cpath fill='%23000' d='M64.5 38h.5V2h-1v34H1v2z'/%3E%3Cg%3E%3Cpath fill='%23AAA' d='M65 0h65v38H65z'/%3E%3Cpath d='M66 2h63v34H66z'/%3E%3Cpath d='M70 14h53v18H70V14zm52-6h1v6h-1V8z' fill='%23000' fill-rule='nonzero'/%3E%3Cpath fill='%23FFF' d='M71 16h51v14H71z'/%3E%3Cpath d='M89 20h1v6h-1v-6zm14 0h1v6h-1v-6zm-13 6h13v2H90v-2zm2-6h9v2h-9v-2zm0 2h3v2h-3v-2zm4 0h1v2h-1v-2zm2 0h1v2h-1v-2zm2 0h1v2h-1v-2zm23-4h1v16h-1V18zm2 4h1v12h-1V22zM75 32h1v2h-1v-2zm2 0h1v2h-1v-2zm2 0h1v2h-1v-2zm2 0h1v2h-1v-2zm2 0h1v2h-1v-2zm2 0h1v2h-1v-2zm2 0h1v2h-1v-2zm2 0h1v2h-1v-2zm2 0h1v2h-1v-2zm2 0h1v2h-1v-2zm2 0h1v2h-1v-2zm2 0h1v2h-1v-2zm2 0h1v2h-1v-2zm2 0h1v2h-1v-2zm2 0h1v2h-1v-2zm2 0h1v2h-1v-2zm2 0h1v2h-1v-2zm2 0h1v2h-1v-2zm2 0h1v2h-1v-2zm2 0h1v2h-1v-2zm2 0h1v2h-1v-2zm2 0h1v2h-1v-2zm2 0h1v2h-1v-2zm2 0h1v2h-1v-2z' fill='%23000' fill-rule='nonzero'/%3E%3Cpath fill='%23FFF' d='M71 6h51v6H71z'/%3E%3Cpath d='M73.98 10h45.04v2H73.98v-2zM73 12h47v2H73v-2zm46.02-2h.98v2h-.98v-2z' fill='%23D8D8D8' fill-rule='nonzero'/%3E%3Cpath d='M73 8h47v2H73V8zm-1 2h2v2h-2v-2zm-1 2h2v2h-2v-2z' fill='%23000' fill-rule='nonzero'/%3E%3Cpath d='M74 10h47v2H74v-2zm-1 2h49v2H73v-2z' fill='%23AAA' fill-rule='nonzero'/%3E%3Cpath d='M74 12h1v2h-1v-2zm1-2h1v2h-1v-2zm1 2h1v2h-1v-2zm1-2h1v2h-1v-2zm1 2h1v2h-1v-2zm1-2h1v2h-1v-2zm1 2h1v2h-1v-2zm1-2h1v2h-1v-2zm1 2h1v2h-1v-2zm1-2h1v2h-1v-2zm1 2h1v2h-1v-2zm1-2h1v2h-1v-2zm1 2h1v2h-1v-2zm1-2h1v2h-1v-2zm1 2h1v2h-1v-2zm1-2h1v2h-1v-2zm1 2h1v2h-1v-2zm1-2h1v2h-1v-2zm1 2h1v2h-1v-2zm1-2h1v2h-1v-2zm1 2h1v2h-1v-2zm1-2h1v2h-1v-2zm1 2h1v2h-1v-2zm1-2h1v2h-1v-2zm1 2h1v2h-1v-2zm1-2h1v2h-1v-2zm1 2h1v2h-1v-2zm1-2h1v2h-1v-2zm1 2h1v2h-1v-2zm1-2h1v2h-1v-2zm1 2h1v2h-1v-2zm1-2h1v2h-1v-2zm1 2h1v2h-1v-2zm1-2h1v2h-1v-2zm1 2h1v2h-1v-2zm1-2h1v2h-1v-2zm1 2h1v2h-1v-2zm1-2h1v2h-1v-2zm1 2h1v2h-1v-2zm1-2h1v2h-1v-2zm1 2h1v2h-1v-2zm1-2h1v2h-1v-2zm1 2h1v2h-1v-2zm1-2h1v2h-1v-2zm1 2h1v2h-1v-2zm2 0h1v2h-1v-2zm-1-2h1v2h-1v-2z' fill='%236687BA' fill-rule='nonzero'/%3E%3Cpath d='M121 12h1v2h-1v-2zm-1-2h1v2h-1v-2zM65 0h65v2H65V0zm0 2h1v36h-1V2z' fill='%23000' fill-rule='nonzero'/%3E%3Cpath d='M66 36h63v2H66v-2zm63-34h1v36h-1V2z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }

    &:focus,
    &:active {
      &::before {
        background-position: -4.0625rem 0;
      }
    }
  }
</style>
