---
export interface FileProps {
  name: string
  url: string
  external?: boolean
}

const { name, url, external = false, ...attrs } = Astro.props as FileProps
---

<a href={url} class="file" target={external ? '_blank' : null} {...attrs}>
  {name}
</a>

<style lang="postcss" is:global>
  .file {
    @apply inline-flex items-center flex-col gap-1 focus:bg-primary outline-none before:content-[""];

    &::before {
      @apply block w-[2.875rem] h-[3.875rem] bg-cover bg-[url('/images/file.svg')];
    }

    &:active {
      &::before {
        background-position: -2.875rem 0;
      }
    }
  }
</style>
