---
export interface Props {
  name: string
  url: string
}

const { name, url, ...attrs } = Astro.props
---

<a href={url} class="file" {...attrs}>
  {name}
</a>

<style lang="postcss">
  .file {
    @apply inline-flex items-center flex-col gap-1 focus:bg-blue outline-none before:content-[""];

    &::before {
      @apply block w-[2.875rem] h-[3.875rem] bg-cover bg-[url('/images/file.svg')];
    }

    &:active {
      &::before {
        background-position: -2.875rem 0;
      }
    }
  }
</style>
