---
import Icon from 'astro-icon'

export interface ILink {
  href: string
  icon: string
}

const { href, icon = 'floppy-disk' } = Astro.props as ILink
---

<a
  href={href}
  class="inline-flex flex-col items-center text-center outline-none focus:bg-blue"
>
  <Icon name={icon} class="mb-1" />
  <slot />
</a>
