---
import type { HTMLAttributes } from 'astro/types'
import { cva, type VariantProps } from 'class-variance-authority'

import Icon from '~components/Icon.astro'

const link = cva(
  [
    'flex',
    'flex-col',
    'items-center',
    'text-base/tight',
    'no-underline',
    'outline-none'
  ],
  {
    variants: {
      active: {
        true: 'bg-primary',
        false: ['focus:bg-white', 'focus:text-primary']
      }
    },
    defaultVariants: {
      active: false
    }
  }
)

interface Props extends HTMLAttributes<'a'>, VariantProps<typeof link> {
  className?: string
  external?: boolean
  href: string
  icon?: any
  active?: any
}

const { active, className, external = false, href, icon = 'disk' } = Astro.props
---

<a
  href={href}
  class={link({ active, className })}
  target={external ? '_blank' : null}
  rel={external ? 'noopener noreferrer' : null}
>
  <Icon name={icon} active={active} className="mb-1" />
  <div class="max-w-24 text-center">
    <slot />
  </div>
</a>
