---
export interface INav {
  class?: string
  name: string
  id: string
  vertical?: boolean
}

const {
  class: className,
  name,
  id,
  vertical = false,
  ...props
} = Astro.props as INav
---

<nav
  aria-labelledby={id}
  class:list={[
    'flex',
    'flex-wrap',
    'justify-start',
    'items-start',
    'gap-3',
    { 'flex-col': vertical },
    className
  ]}
  {...props}
>
  <h2 id={id} class="sr-only">{name}</h2>
  <slot />
</nav>
