---
import { type HTMLAttributes } from 'astro/types'
import { cva, type VariantProps } from 'class-variance-authority'

import Depth from '~/components/Depth.astro'

const titlebar = cva('h-titlebar flex items-center', {
  variants: {
    intent: {
      default: 'bg-foreground text-secondary',
      primary: 'bg-primary text-primary-foreground',
      secondary: 'bg-white text-foreground'
    }
  },
  defaultVariants: { intent: 'default' }
})

type Props = HTMLAttributes<'div'> &
  VariantProps<typeof titlebar> & {
    depth?: boolean
  }

const { class: className, depth = false, intent, ...props } = Astro.props
---

<div class={titlebar({ intent, className })} {...props}>
  <slot name="prefix" />
  <div
    class="flex-auto overflow-hidden text-ellipsis whitespace-nowrap px-1 text-base/tighter"
  >
    <slot />
  </div>
  <slot name="suffix">
    {depth && <Depth class="bg-background" />}
  </slot>
</div>
