---
export interface TitleBarProps {
  class?: string
  tag?: string
}

const {
  tag: Tag = 'header',
  class: className,
  ...props
} = Astro.props as TitleBarProps
---

<Tag class:list={['titlebar', className]} {...props}>
  <div
    class="flex-auto overflow-hidden text-ellipsis whitespace-nowrap text-base/18px"
  >
    <slot />
  </div>
</Tag>

<style lang="postcss">
  .titlebar {
    @apply h-1.375rem px-1 flex items-center;
  }
</style>
