---
export interface ITitleBar {
  class?: string
  tag?: string
}

const {
  tag: Tag = 'header',
  class: className,
  ...props
} = Astro.props as ITitleBar
---

<Tag class:list={['h-titlebar px-1 flex items-center', className]} {...props}>
  <div
    class="flex-auto overflow-hidden text-ellipsis whitespace-nowrap text-base/18px"
  >
    <slot />
  </div>
</Tag>
