---
import { getCollection } from 'astro:content'

import Nav from '$components/Nav.astro'
import Link from '$components/Link.astro'

const work = await getCollection('work', ({ data }) => {
  return !data.draft === true
})

// work.sort((a, b) => a.data.sortOrder - b.data.sortOrder)
const pathname = new URL(Astro.request.url).pathname
---

<Nav id="work-nav" name="Work menu" class="not-prose">
  {
    work.map(({ slug, data: { name } }) => (
      <Link
        icon="drawer"
        href={`/work/${slug}`}
        active={pathname === `/work/${slug}`}
      >
        {name}
      </Link>
    ))
  }
</Nav>
