---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'button'> {
  class?: string
}

const { class: className, ...props } = Astro.props
---

<button
  type="button"
  class:list={['h-22px w-23px bg-zoom active:bg-[-23px]', className]}
  {...props}
>
  <span class="sr-only">Zoom</span></button
>
