@font-face {
  font-family: 'Topaz';
  font-display: swap;

  src: url('/fonts/webfont.eot');
  src: local('Topaz'),
       url('/fonts/topaz.eot?#iefix') format('embedded-opentype'),
       /* url('/fonts/topaz.ttf') format('truetype'), */
       url('/fonts/topaz.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

