---
import { SITE } from '~/config'
import { BaseHead } from '~/components/index.astro'

// import 'uno:base.css'
import '~/styles/workbench.css'

export interface DefaultProps {
  title?: string
  description?: string
  url?: string
  image?: {
    url?: string
  }
  class?: string
}

const {
  title,
  description,
  url,
  image,
  class: className
} = Astro.props as DefaultProps
const meta = { title, description, url, image }
---

<html lang={SITE.lang}>
  <BaseHead {...meta}>
    <slot name="head" />
  </BaseHead>
  <body class:list={[className]}>
    <main class="flex-auto">
      <slot />
    </main>
  </body>
</html>
