---
import { SITE } from '@/config'
import { BaseHead } from '@/components/index.astro'

import '@/styles/workbench.css'

interface Props {
  title?: string
  description?: string
  url?: string
  image?: {
    url?: string
  }
  class?: string
}

const {
  title,
  description,
  url,
  image,
  class: className,
} = Astro.props as Props
const meta = { title, description, url, image }
---

<html lang={SITE.lang}>
  <BaseHead {...meta} />
  <body class:list={[className]}>
    <slot />
  </body>
</html>
