---
import { ISITE, SITE } from '@config'
import { BaseHead, SchemaWebPage } from '@components/index.astro'
import '@styles/global.css'

export interface IDefault extends ISITE {
  class?: string
  theme?: string
}

const {
  title,
  name,
  description,
  url,
  image,
  theme,
  class: className
} = Astro.props as IDefault
const meta = { name, title, description, url, image }
---

<html lang={SITE.lang}>
  <BaseHead {...meta}>
    <slot name="head" />
  </BaseHead>
  <body class:list={['bg-background', 'text-foreground', className, theme]}>
    <slot name="header" />
    <slot />
    <slot name="footer" />
    <SchemaWebPage {...meta} />
  </body>
</html>
