---
import { SITE } from '@/config'
import '@/styles/workbench.css'
import Button from '@/components/Button.svelte'
import Window from '@/components/Window.astro'
import TitleBar from '@/components/TitleBar.astro'

const { frontmatter } = Astro.props
---

<html>
  <head>
    <title>Foo</title>
  </head>
  <body>
    <div class="page bg-gray">
      <TitleBar class="bg-black text-gray">
        {SITE.title} Copyright &copy; 2000-{SITE.copyrightYear} All Rights Reserved
      </TitleBar>
      <Window {...frontmatter}>
        <div class="flex flex-wrap gap-2.5 mb-5">
          <Button href="#" ghosted>Href</Button>
          <Button tag="button">Button</Button>
        </div>
        <div class="prose prose-black">
          <slot />
        </div>
      </Window>
    </div>
  </body>
</html>

<style lang="postcss">
  .page {
    @apply min-h-screen w-full grid grid-rows-[auto,1fr];
  }
</style>
