---
import type { ISITE } from '~/config'
import { SITE } from '~/config'

import { Disk, Drive, Nav, TitleBar, Window } from '~/components/index.astro'
import Default from './Default.astro'

export interface IWorkbench extends ISITE {}

const { copyrightYear } = SITE
const { title, name, description, url, image, ...props } =
  Astro.props as IWorkbench
const meta = { title, name, description, url, image }
---

<Default {...meta} {...props}>
  <TitleBar
    class="bg-secondary-foreground text-secondary"
    role="banner"
    slot="header"
  >
    {SITE.title} Copyright &copy; 2000-{copyrightYear} All Rights Reserved
  </TitleBar>
  <slot />
  <Window id="workbench-window" name="Workbench" url="/kickstart">
    <Nav id="workbench-nav" name="Workbench">
      <Disk name="Ram Disk" url="/ram-disk" />
      <Drive name="Work" url="/work" />
      <Drive name="About" url="/about" />
    </Nav>
  </Window>
</Default>
