---
import { SITE } from '~/config'

// import '@unocss/reset/tailwind.css'
import '~/styles/workbench.css'

import {
  BaseHead,
  Disk,
  Drive,
  Nav,
  TitleBar,
  Window,
} from '~/components/index.astro'

export interface WorkbenchProps {
  title: string
  description: string
  url: string
  image: {
    url: string
    width: string
    height: string
    alt: string
  }
}

const { lang, copyrightYear } = SITE
const { title, description, url, image, ...attrs } =
  Astro.props as WorkbenchProps
const meta = { title, description, url, image }
---

<html lang={lang}>
  <BaseHead {...meta} />
  <body>
    <div class="screen" {...attrs}>
      <TitleBar class="bg-black text-gray">
        {SITE.title} Copyright &copy; 2000-{copyrightYear} All Rights Reserved
      </TitleBar>
      <slot />
      <Window id="workbench-window" name="Workbench" url="/kickstart">
        <Nav id="workbench-nav" name="Workbench" vertical>
          <Disk name="Ram Disk" url="/ram-disk" />
          <Drive name="Work" url="/work" />
          <Drive name="About" url="/about" />
        </Nav>
      </Window>
    </div>
    <style lang="postcss" is:global>
  .screen {
    @apply min-h-screen flex flex-col w-full;
  }
</style>
  </body>
</html>
